.search {
    display: flex;
    margin: 0 auto;
    height: 35px;   
    border: 1px solid gray;
    border-radius: 8px;
    background-color: gray;
}

.input {
    width: 100%;
    border: none;
    /* height: 35px; */
    outline:none;
    display: inline-block;
    border-radius: 8px;
    margin-left: 5px;
    background-color: gray;
    color: white;
}

.icon {
  margin-top: 5px;
  margin-left: 5px;
}

@media screen and (min-width: 1200px) {
    .search {
        background-color: rgb(243, 243, 243);
    }
    .input {
        background-color: rgb(243, 243, 243);
        color: black;
    }
}